body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    background-image: url('christmas-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

canvas {
    border: 5px solid #fff;
    margin: 20px auto;
    display: block;
    max-width: 100%; /* Canvas will adjust width to container */
    height: auto; /* Maintain aspect ratio */
}

button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    background-color: #ff5733;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6f4a;
}

#results {
    margin-top: 20px;
}

#currentResult {
    font-size: 24px;
    font-weight: bold;
    color: #ffdd00;
}

h1 {
    font-size: 36px;
    color: #ffdd00;
}

h2 {
    color: #fff;
}

/* Responsywność */
@media (max-width: 600px) {
    body {
        background-position: top center;
    }

    .container {
        padding: 15px;
        margin: 10px;
        max-width: 90%;
    }

    h1 {
        font-size: 28px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }

    #currentResult {
        font-size: 18px;
    }

    canvas {
        max-width: 100%;
        height: 300px; /* Limit height for small screens */
    }

    #results {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    button {
        font-size: 16px;
    }
}



